<ion-view view-title="About">
<ion-content class="padding about">
<h3>Travel & Expore on ANY budget</h3>
<h4>FreeWalkingTours.com online citiy tours</h4>
<br>
<p>The true concept of the "free walking tour" is to provide travelers with any budget the chance to learn about their new city from locals and experts.</p>
<p>Additionally "free walking tours" allow you to experience the tour before you pay, so you decide the pay based on your satisfaction of the guide and the sites.</p>
<p>Here at <a href="http://www.freewalktours.com">FreeWalkTours.com</a> that is exactly what we aim to provide to you!</p>
<p>With years of experience as travelers ourselves we've complied one of the comprehensive lists of free walking tours (as well as other interesting tours) around in order to save you the time and headache.</p>
<br>
<h4>We would be very pleased to hear your thoughts</h4>
<p>Email us at <a href="mailto:mbembac@gmail.com">info@freewalkingtours.com</a> with suggestions on how to make this app more usable for you!</p>
<p>From all of us here at <a href="http://www.freewalktours.com">FreeWalkTours.com</a>, we thank you for choosing us</p>
<p>Safe travels and enjoy your new city</p>
<br>
<a href="#/app/cities" class="button button-positive button-block">
	Find Tours
</a>
</ion-content>
</ion-view>
