<ion-modal-view>
<ion-header-bar>
<h1 class="title">Share</h1>
<div class="buttons">
	<button class="button button-clear" ng-click="closeShare()">Close</button>
</div>
</ion-header-bar>
<ion-content class="padding">
<h3>Follow us on...</h3>

<a class="button button-positive button-block" href="http://www.facebook.com">
	<i class="icon ion-social-facebook"></i> Facebook
</a>
<br>
<a class="button button-calm button-block" href="http://www.twitter.com">
	<i class="icon ion-social-twitter"></i> Twitter
</a>
<br>
<a class="button button-dark button-block" href="http://www.instagram.com">
	<i class="icon ion-social-instagram"></i> Instagram
</a>

<br>

<p>Or share us via e-mail</p>
<a class="button button-block button-royal" href="mailto:">
	<i class="icon ion-email"></i> Eamil
</a>

</ion-content>
</ion-modal-view>
