/* Empty. Add your own CSS if you like */

a.bar {
	font-family: Helvetica;
	text-align: center;
	text-decoration: none;
	font-size: 1.5em;
	padding-top: .5em;
}
.info-img{
	display: inline-block;
}
.info {
	display: inline-block;
}

.icon-wrapper i{
	/*background-color: grey;
	border-radius: 4em;
	width: 25px;
	height: 0px;*/
}

.icon-wrapper i.icon{
	/*font-size: 5em;*/
}

.highlights {
	list-style-type: square;
	padding-left: 3em;
}

/*SIDE MENU*/
.side, .side ion-list ion-item{
	background-color: blue;
}

/*HOME*/

.home{

}

/*LOCATIONS*/

.locations {

}


/*FAVS*/

.favs{


}


/*BOOKINGS*/





/*SETTINGS*/




/*ABOUT*/

.about {
	text-align: center;

}


/*SHARE*/




/*LOGIN*/




/*LOGOUT*/